
.slider-area {
	margin-top: 30px;
}
.single-slider h3 {
	font-size: 15px;
	text-align: center;
	margin-top: 18px;
}

.btn{
    margin-top: 10px;
    text-align: center;
}
button.slick-prev.slick-arrow {
    position: relative;
    width: 30px;
    overflow: hidden;
    background: transparent;
    border: 0;
    position: absolute;
    left: 0px;
    right: auto;
    z-index: 11;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
}

button.slick-prev.slick-arrow:after {
    content: "<";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #00805F;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
}

button.slick-next.slick-arrow {
    position: relative;
    width: 40px;
    overflow: hidden;
    background: transparent;
    border: 0;
    position: absolute;
    left: auto;
    right: 0px;
    z-index: 11;
    top: 50%;
    transform: translateY(-50%);
    height: 40px;
}

button.slick-next.slick-arrow:after {
    content: ">";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #00805F;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
}

.sliders-list.slick-initialized.slick-slider {
    position: relative;
}

.single-slider {
    padding: 30px 0;
}

.slider-img img {
    display: block;
    width: 100%;
}

.single-slider.slick-slide {
    padding: 15px;
}

.sliders-list.slick-initialized.slick-slider {
    padding: 0 40px;
}

